<a href="/petition/signers" class="regularLink">Go back to view all signers</a>
{{#if noSignersFromCity}}
    {{> petitionText prefix="Oh noes. Nobody from " suffix=" signed the " endsuffix=" Help spread the word."}}

{{else}} {{> petitionText prefix="These people from " suffix="signed the "}}
{{/if}}
{{> error}}
{{#if signers}}
    {{> listSigners}}
{{/if}}