{{> petitionText prefix="Login to sign the "}}
{{#if err}}
    <p class="error">{{err}}</p>
{{/if}}
<form method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" />

    <label for="password">Password</label>
    <input type="password" name="password" />
    
    <button>LOGIN</button>
</form>