{{> petitionText prefix="Sign this"}}
{{> error}}
<form method="POST">
    <label for="signature">Sign here</label>
    <canvas class="signature" id="signature-canvas" width="400" height="50"></canvas>
    <input id="hidden-input" name="signature" type="hidden" />
    <button>SIGN</button>
</form>


<script src="/script.js"></script>