{{> petitionImage}}
{{> petitionText prefix="Sign this"}}
{{#if err}}
    <p class="error">{{err}}</p>
{{/if}}
<form style="display:flex;"method="POST">
    <label for="firstname">First Name</label>
    <input name="firstname" />

    <label for="lastname">Last Name</label>
    <input name="lastname" />
    
    <label for="signature">Sign here</label>
    <canvas class="signature" id="signature-canvas" width="400" height="50"></canvas>
    <input id="hidden-input" name="signature" type="hidden" />
    
    <button>SIGN</button>
</form>


<script src="/script.js"></script>