<h2>Please Sign the petition</h2>

<form method="POST">
    <input name="firstname" />
    <input name="lastname" />
    <input id="hidden-input" name="signature" type="hidden" />
    <button>SIGN PETITION</button>
</form>
<canvas id="signature-canvas" width="400" height="50"></canvas>
<script src="/script.js"></script>