{{> petitionText prefix="Register to sign the "}}
{{#if err}}
    <p class="error">{{err}}</p>
{{/if}}
<form method="POST">
    <label for="firstname">First Name</label>
    <input name="firstname" />

    <label for="lastname">Last Name</label>
    <input name="lastname" />

    <label for="email">Email</label>
    <input type="email" name="email" />

    <label for="password">Password</label>
    <input type="password" name="password" />
    
    <button>REGISTER</button>
</form>
<a href="/login" class="regularLink">Please login here, if you already have an account.</a>