<a href="/petition/thankyou" class="regularLink">Go back to view your signature</a>
{{> petitionText prefix="These people signed the"}}
{{> error}}
{{#if signers}}
    {{> listSigners}}
{{/if}}
</div>