{{> petitionImage}}
{{> petitionText prefix="These people signed the"}}
<div class="signatures-container">
    {{#if error}}
        <p class="error">Something went wrong.</p>
    {{else}}
    
        {{> firstAndLastName}}
    {{/if}}
</div>