{{> petitionImage}}
{{> petitionText prefix="These people signed the"}}
<div class="signatures-container">
    {{#if error}}
        <h3>something went wrong</h3>
    {{else}}
    
        {{> firstAndLastName}}
    {{/if}}
</div>