{{> petitionImage}}
{{> petitionText prefix="Thank you for signing the"}}
<img class="signature" src="{{imageDataUrl}}" alt="signature" height="50" width="400"</>
<a class ="seeAllLink" href="/petition/signers">See all {{signersAmount}} signers</a>