* {
    background-color: lightyellow;
    font-family: "Open Sans", sans-serif;
}

.signature {
    background-color: lightgrey;
    border: 1px solid black;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
form input {
    width: 200px;
    border-style: dashed;
}
form label {
    font-size: 0.75em;
}
form button {
    /* width: 150px; */
    background-color: lightcoral;
    font-size: 2em;
    cursor: pointer;
    padding: 5%;
}
.signer {
    text-align: center;
    font-style: italic;
    font-size: 1.5em;
}

.petitionText {
    width: 50%;
    text-align: center;
    color: red;
    font-size: 2em;
}

.error {
    font-size: 2em;
    color: black;
    border: 1px solid black;
}

.seeAllLink {
    font-size: 2em;
    color: lightskyblue;
}
.citylink {
}
.deleteLink {
    background: none;
    border: none;
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.75em;
}
.regularLink {
    font-size: 1.25em;
    text-decoration: none;
    color: blue;
}
.regularLink:hover {
    text-decoration: underline;
}
.regularText {
    color: blue;
    font-size: 1.25em;
}
.logoutLink {
    background: none;
    border: none;
    color: darkblue;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.75em;
}
